@import './variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.app{
    @include flex-column-center;
    height: auto;
    min-height: 100vh;
    justify-content: center;
    background-color: $primaryBackground;
    color: $primaryText;
    padding: 2rem 0;

    .heading{
        @include flex-column-center;
        width: 100%;

    h1{
        font-size: 3.5rem;
        font-weight: 400;
    }
    .input-container{
        border-radius: 8px;
        height: 4.5rem;
        width: 70%;
        display: flex;
        justify-content: space-between;
        background-color: $secondaryBackground;
        padding: 0.5rem;
        padding-left: 1rem;
        margin: 0.8rem;

        button{
            border: none;
            background-color: $accent;
            padding: 1.5rem 1.5rem;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover, &:active{
                background-color:  $secondaryAccent;
            }
        }

        input[type=text]{
            outline: none;
            border: none;
            font-size: 1.2rem;
            padding: 0.5rem 0.2rem;
            width: 80%;
            background: none;

            &::placeholder{
                color: $stroke;
                opacity: 0.5;
            }
        }
    }
  }
}
.tasks-list{
    @include flex-column-center;
    width: 70%;
}

@media screen and (max-width: 740px) {
    .app{
        .heading{
            .input-container{
                width: 90%;
            }
        }
    }
    .tasks-list{
        width: 100%;
    }
}


