@import '../styles/variables';
@import '@fontsource/roboto/300.css';


.task-element{
    border-radius: 8px;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    padding-left: 1rem;
    margin: 0.8rem;
    background-color: $secondaryBackgroundDarken;
    width: 100%;
    align-items: center;

    h2{
        padding-left: 1rem;
        font-size: 1rem;

    }
    button{
        background: none;
        border: none;
        padding: 0.8rem;
        margin: 0.5rem;
        .icon{
            &:hover{
                color: $accent;
                cursor: pointer;
            }
        }
    }
}
.buttons{
    display: flex;
    justify-content: space-between;
    width: auto;
}

.hide{
    display: none;
}
