@import './variables';

.task-element{
    border-radius: 8px;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    margin: 0.8rem;
    width: 100%;
    align-items: center;
    font-family: 'Roboto', sans-serif;

    input{
        outline: none;
        border: none;
        background: none;
        font-size: 1rem;
        font-weight: 400;
        width: auto;
        padding-left: 1rem;
        padding-top: 1px;
        font-family: 'Roboto', sans-serif;
 
    }
    &:nth-child(odd){
        background-color: $accent;
        color: $primaryText;

        .icon{
            color: $primaryText;
            &:hover{
                color: $tertiary;
                cursor: pointer;
            }
        }
        input{
            color: $primaryText;
            border-bottom: 1px solid $primaryText;
        }
    }

    &:nth-child(even){
        background-color: $secondaryBackground;
        color: $stroke;

        .icon{
            color: $accent;
            &:hover{
                color: $tertiary;
                cursor: pointer;
            }
        }
        input{
            color: $stroke;
            border-bottom: 1px solid $stroke;
        }
    }

    h2{
        padding-left: 1rem;
        font-size: 1rem;
        font-weight: 400;

    }
    button{
        background: none;
        border: none;
        padding: 0.8rem;
        margin: 0.5rem;       
    }
}
.buttons{
    display: flex;
    justify-content: space-between;
    width: auto;
}

.hide{
    display: none;
}
.lined{
    text-decoration: line-through;
}
.box{
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}

@media screen and (max-width: 740px){
    .task-element{
        width: 90%;
        height: auto;

        input{
            width: 90%;
     
        }
        button{
            padding: 0.2rem;
            margin: 0.5rem;
        }
        h2{
            height: auto;
            width: 90%;
            overflow-wrap: break-word;
        }
    }
    .box{
        width: 60%;
        padding: 0.5rem;
        margin-left: 0.1rem;
    }
}
